services:
  # ----
  # SERVIÇO 1: Sua Aplicação ASP.NET Core (Agenda)
  # ----
  agenda-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agenda-app
    restart: always
    ports:
      - "8080:8080"
    # Isso aqui permite que o container enxergue o seu PC como "host.docker.internal"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      # MUDANÇA CRÍTICA AQUI:
      # 1. Host=host.docker.internal -> Aponta para o seu computador (onde o banco está exposto)
      # 2. Port=5434 -> A porta externa que configuramos no seu banco manual
      - ConnectionStrings__DefaultConnection=Host=host.docker.internal;Port=5434;Database=agenda_prod_db;Username=agenda_user;Password=qwas7845@