<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Agendamentos </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    @RenderSection("styles", required: false)

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css" />

    @* ================================================================= *@
    @* SCRIPTS ESSENCIAIS (Carregados no Head para evitar erros)         *@
    @* Como removemos o _vendor_scripts, colocamos o básico aqui.        *@
    @* ================================================================= *@
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

</head>

<body>

    @RenderBody()

    @* REMOVIDO: @await Html.PartialAsync("~/Views/Shared/_vendor_scripts.cshtml") *@

    @* Scripts extras específicos da página de login/registro *@
    @RenderSection("scripts", required: false)

</body>
</html>