@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<div class="panel-heading">
    <h3 class="panel-title">Restrição de acesso</h3>
</div>
<p>De acordo com as políticas de permissão, o conteúdo desta página está bloqueado para o seu acesso</p>
